h1 {
    text-align: center;
}

#gameBox {
    margin: auto;
    width: 390px;
    height: 390px;
    padding: 20px;
    background-color: rgb(240, 97, 97);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    justify-content: center;
}

.sketch {
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: black;
    border-width: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darken {
    background-color: rgb(146, 140, 140);
}
